body {
  background-color: #bca;
}

.mb-blue {
  background-color: aquamarine;
  border-radius: 0.8rem;
}

.mb-orange {
  background-color: orange;
  border-radius: 0.8rem;
}

.mb-pink {
  background-color: pink;
  border-radius: 0.8rem;
}

.mb-green {
  background-color: greenyellow;
  border-radius: 0.8rem;
}

.eighty-five-percent {
  width: 85%;
  height: 3.8rem;
}

.fifty-percent {
  width: 65%;
  height: 3.8rem;
}

.ninety-five-percent {
  width: 95%;
  height: 3.8rem;
}

.ninety-percent {
  width: 90%;
  height: 3.8rem;
}

#sticky-navbar {
  margin-top: 0px;
  width: 450px;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: cadetblue;
  z-index: 1;
  position: sticky;
}

#page-header {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  position: relative;
  opacity: 0.8;
}

#header-image {
  /* background-size: cover; */
  height: 20rem;
  width: 1355px;
}

#myName {
  position: absolute;
  color: aliceblue;
  font-weight: 900;
  font-size: 5.5rem;
  margin: 3% 30%;
  opacity: 1 !important;
  color: darkorange;
}

#designation {
  font-size: 4rem;
  margin: 5%;
}

#my-image {
  margin: 5%;
}

#about-me-content {
  /* width: max-content; */
  /* margin: 10%; */
  margin-top: 10%;
  font-size: 2rem;
  font-weight: 900;
  height: max-content;
  /* margin-top: 10%; */
}

#skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  /* border: 2px solid black; */
  width: 1355px;
  background-color: azure;
}
.skills-display {
  width: 70%;
  height: 100px;
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4%;
}

.skills-progress {
  width: 35rem;
  height: 4rem;
  background-color: lightgray;
  border-radius: 0.8rem;
  border: 2px solid black;
  margin-top: 35px;
}

.skill-name {
  color: black;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}

.skill-image {
  margin-top: 35px;
}

/**************************************************************************************************/

@media screen and (min-width: 150px) and (max-width: 380px) {
  .navbar {
    width: 375px;
  }

  .navbar-nav {
    margin-left: 155px !important;
    font-weight: 900;
    font-size: 1.5rem;
  }

  .navbar-text {
    margin-left: 55px !important;
  }
  #page-header {
    display: flex;
    flex-direction: column;
    width: 75vw;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
    width: 370px !important;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3.2rem;
    margin: 2% 45%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.2rem;
    margin: 0px;
    line-height: 0px;
  }

  #my-image {
    /* width: 200px !important; */
    margin-left: 0%;
  }

  #about-me-content {
    width: max-content;
    margin-left: 2%;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 10%;
  }

  #skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    /* border: 2px solid black; */
    width: 390px;
    background-color: azure;
  }
  .skills-display {
    width: 70%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 4%;
  }

  .skills-progress {
    width: 12rem;
    height: 4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
    margin-top: 55px;
    margin-left: -33px;
  }

  .skill-name {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
  }

  .skill-image {
    margin-top: 35px;
    margin-left: -100px;
  }
}

/***************************************************************************************************/
@media screen and (min-width: 381px) and (max-width: 490px) {
  .navbar {
    width: 515px;
  }
  #page-header {
    display: flex;
    flex-direction: column;
    width: 75vw;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
    width: 515px !important;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3.2rem;
    margin: 2% 50%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.2rem;
    margin: 0px;
    line-height: 0px;
  }

  #my-image {
    margin-left: 15%;
  }

  #about-me-content {
    width: max-content;
    margin-left: 12%;
    font-size: 1.6rem;
    font-weight: 900;
    margin-top: 10%;
  }

  #skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    /* border: 2px solid black; */
    width: 550px;
    background-color: azure;
  }
  .skills-display {
    width: 70%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 4%;
  }

  .skills-progress {
    width: 12rem;
    height: 4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
    margin-top: 55px;
    margin-left: -45px;
  }

  .skill-name {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
  }

  .skill-image {
    margin-top: 35px;
    margin-left: -130px;
  }
}

/***************************************************************************************************/
@media screen and (min-width: 490px) and (max-width: 767px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 75vw;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
    width: 550px;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3.2rem;
    margin: 2% 45%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.2rem;
    margin: 0px;
    line-height: 0px;
  }

  #my-image {
    margin-left: 15%;
  }

  #about-me-content {
    width: fit-content;
    margin-left: 3%;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 10%;
  }

  #skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    /* border: 2px solid black; */
    width: 550px;
    background-color: azure;
  }
  .skills-display {
    width: 70%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 4%;
  }

  .skills-progress {
    width: 12rem;
    height: 4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
    margin-top: 55px;
    margin-left: -15px;
  }

  .skill-name {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
  }

  .skill-image {
    margin-top: 35px;
    margin-left: -65px;
  }
}

/***************************************************************************************************/
@media screen and (min-width: 768px) and (max-width: 850px) {
  .navbar {
    width: 810px;
  }
  #page-header {
    display: flex;
    flex-direction: column;
    width: 105vw;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
    width: 830px;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 4.5rem;
    margin: 5% 25%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 3.2rem;
    margin: 0px;
    line-height: 0px;
  }

  #my-image {
    margin-left: 25%;
  }

  #about-me-content {
    width: fit-content;
    margin-left: 5%;
    font-size: 3.2rem;
    font-weight: 900;
    margin-top: 10%;
  }

  #skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    /* border: 2px solid black; */
    width: 850px;
    background-color: azure;
  }
  .skills-display {
    width: 70%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 4%;
  }

  .skills-progress {
    width: 12rem;
    height: 4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
    margin-top: 55px;
    margin-left: -15px;
  }

  .skill-name {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
  }

  .skill-image {
    margin-top: 35px;
    margin-left: -65px;
  }
}

/***************************************************************************************************/
@media screen and (min-width: 851px) and (max-width: 915px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 105vw;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
    width: 910px;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 4.5rem;
    margin: 5% 25%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 3.2rem;
    margin: 0px;
    line-height: 0px;
  }

  #my-image {
    margin-left: 25%;
  }

  #about-me-content {
    width: fit-content;
    margin-left: 5%;
    font-size: 3.2rem;
    font-weight: 900;
    margin-top: 1%;
  }

  #skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    /* border: 2px solid black; */
    width: 910px;
    background-color: azure;
  }
  .skills-display {
    width: 70%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 4%;
  }

  .skills-progress {
    width: 12rem;
    height: 4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
    margin-top: 55px;
    margin-left: -15px;
  }

  .skill-name {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
  }

  .skill-image {
    margin-top: 35px;
    margin-left: -65px;
  }
}
