body {
  background-color: #bca;
}

#page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  opacity: 0.8;
}

#header-image {
  background-size: cover;
  height: 20rem;
}

#myName {
  position: absolute;
  color: aliceblue;
  font-weight: 900;
  font-size: 4.5rem;
  margin: 3% 30%;
  opacity: 1 !important;
  color: darkorange;
}

#designation {
  font-size: 4rem;
  margin: 5%;
}

#about-me-content {
  /* width: max-content; */
  /* margin: 10%; */
  margin-top: 10%;
  font-size: 2rem;
  font-weight: 900;
  /* margin-top: 10%; */
}

@media screen and (min-width: 280px) and (max-width: 359px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
    width: min-content;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3rem;
    margin: 15% 40%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 1.8rem;
    margin: 0px;
    line-height: 0px;
  }

  #about-me-content {
    width: fit-content;
    margin-left: 15%;
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 10%;
  }
}

@media screen and (min-width: 360px) and (max-width: 413px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
    width: 100%;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3.7rem;
    margin: 15% 5%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.5rem;
    margin: 5px;
    line-height: 0px;
  }

  #about-me-content {
    width: fit-content;
    margin-left: 5%;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 10%;
  }
}

@media screen and (min-width: 412px) and (max-width: 767px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
    /* width: max-content; */
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 2.8rem;
    margin: 0% 15%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.8rem;
    margin: 0px;
    /* line-height: 0px; */
  }

  #about-me-content {
    /* width: fit-content; */
    /* margin-left: 0%; */
    font-size: 1.5rem;
    font-weight: 900;
    /* margin-top: 10%; */
  }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 2.8rem;
    margin: 15% 10%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.8rem;
    margin: 0px;
    /* line-height: 0px; */
  }
  #my-image {
    width: max-content;
  }

  #about-me-content {
    width: fit-content;
    margin-left: 0%;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 10%;
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    width: 100vw;
    height: 20rem;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3.7rem;
    margin: 15% 12%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.8rem;
    margin: 0px;
    /* line-height: 0px; */
  }

  #my-image img {
    width: 105vw;
  }

  #about-me-content {
    width: fit-content;
    margin-left: 3%;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 2%;
  }
}

@media screen and (min-width: 768px) and (max-width: 819px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3.7rem;
    margin: 10% 25%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.5rem;
    margin: 5px;
    line-height: 0px;
  }

  #about-me-content {
    /* width: fit-content; */
    margin-left: 15%;
    font-size: 1.5rem;
    font-weight: 900;
    /* margin-top: 10%; */
  }
}

@media screen and (min-width: 820px) and (max-width: 911px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3.7rem;
    margin: 10% 25%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.5rem;
    margin: 5px;
    line-height: 0px;
  }

  #about-me-content {
    /* width: max-content; */
    margin-left: 15%;
    line-break: strict;
    font-size: 1.7rem;
    font-weight: 900;
    margin-top: 10%;
  }
}

@media screen and (min-width: 912px) and (max-width: 1280px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 3.7rem;
    margin: 10% 25%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 2.5rem;
    margin: 45px;
    line-height: 0px;
  }

  #about-me-content {
    /* width: fit-content; */
    margin-left: 8%;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  #page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  #header-image {
    background-size: cover;
    height: 20rem;
  }

  #myName {
    position: absolute;
    color: aliceblue;
    font-weight: 900;
    font-size: 6.5rem;
    margin: 2% 22%;
    opacity: 1 !important;
    color: darkorange;
  }

  #designation {
    font-size: 4rem;
    /* margin: 205px; */
    /* line-height: 0px; */
  }

  #about-me-content {
    /* width: fit-content; */
    /* margin-left: 8%; */
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 10%;
  }
}
